anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1685486400275/work/dist
CacheControl==0.13.0
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click @ file:///work/ci_py311/click_1676825163161/work
cryptography==41.0.1
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1678703645500/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1685818786592/work
firebase-admin==6.1.0
google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.19.1
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
grpcio==1.54.2
grpcio-status==1.54.2
h11 @ file:///tmp/build/80754af9/h11_1620423447028/work
httplib2==0.22.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
msgpack==1.0.5
proto-plus==1.22.2
protobuf==4.23.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic @ file:///work/ci_py311/pydantic_1676842103705/work
PyJWT==2.7.0
pyparsing==3.0.9
requests==2.31.0
rsa==4.9
six==1.16.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1684245096404/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1685704949284/work
uritemplate==4.1.1
urllib3==1.26.16
uvicorn @ file:///work/ci_py311_2/uvicorn-split_1679340461072/work
